// Functions

@function hover-transition($property, $time: .2s, $ease: ease-in-out) {
    @return $property $time $ease;
}

// Media Queries

@mixin desktop {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin flexy {
    @for $i from 1 through 12 {
        $percent: calc(100% / 12);
        .col-#{$i} {
            flex-basis: (#{$i} / $percent);
        }
    }
}

// Themes

@mixin theme-colors($map) {
    @for $i from 1 through 12 {
        &.col-#{$i} {
            background-color: map-get($map, $i);
        }
    }
}

// Centered

@mixin element-centered($disp: block) {
    display: $disp;
    margin-left: auto;
    margin-right: auto;
}

// Images 

@mixin img-styling($width: null, $height: null, $margin-top: null) {
    @include element-centered;
    max-width: $width;
    max-height: $height;
    margin-top: $margin-top;
}

// Buttons

@mixin btn-styling {
    margin-top: 15px;
    width: 100%;
    color: $ceramic;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

@mixin hover($color, $percent: 15%) {
    &:hover {
        background-color: lighten($color, $percent);
    }
}

