// Main Colors

$ghost         : #ccc;
$ceramic       : #fff;
$boulder       : #777;
$aquamarine    : #58e1c1;
$blue-diamond  : #51ddfc;
$wisteria      : #927bc1;
$rosy-pink     : #e4757a;
$soft-green    : #63cc82;
$basket-ball   : #fd7856;

// Fonts

$main-font     : 'Lato', sans-serif;

// Breakpoint

$screen-md-min : 768px;