/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $ceramic;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $blue-diamond;
  }
  
  .error {
    background-color: $rosy-pink;
  }
  
  .info {
    background-color: $wisteria;
  }
  
  .success {
    background-color: $soft-green;
  }
  
  .warning {
    background-color: $basket-ball;
  }