/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include btn-styling;
  transition: hover-transition(background-color);
}
  
.default {
  background-color: $blue-diamond;
  @include hover($blue-diamond);
}

.error {
  background-color: $rosy-pink;
  @include hover($rosy-pink);
}

.info {
  background-color: $wisteria;
  @include hover($wisteria);
}

.success {
  background-color: $soft-green;
  @include hover($soft-green);
}

.warning {
  background-color: $basket-ball;
  @include hover($basket-ball);
}